.valid {
    color: green;
}

.invalid {
    color: red
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✅";
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "❌";
}