@font-face {
    font-family: "Magica";
    src:
        local("Magica"),
        url("fonts/Magica.otf") format("opentype");
}

@font-face {
    font-family: "Kaoly";
    size-adjust: 200%;
    src:
        local("Kaoly"),
        url("fonts/Kaoly.ttf") format("truetype");
}

@media only screen and (max-width: 600px) {

    @font-face {
        font-family: "Kaoly";
        size-adjust: 250vh;
        src:
            local("Kaoly"),
            url("fonts/Kaoly.ttf") format("truetype");
    }


    input {
        font-family: 'Magica';
        font-size: 20px;
        max-width: 450px;
        max-height: 60px;
        border: 3px solid plum;
        border-radius: 5px;
    }


    label {
        font-family: 'Magica';
        font-size: 10px;
    }


    .cosmicButton {
        font-family: 'Magica';
        font-size: '12px';
        height: 32.5px;
        width: 90px;
        background-color: blue;
        color: aliceblue;
        transition-duration: 0.5s;
        border: solid 5px;
        border-radius: 15px;
        border-color: aliceblue;
        text-align: center;
    }


    p {
        font-family: 'Magica';
        font-size: 6px;
    }
}

h1 {
    font-family: 'Kaoly';
    animation: 3s ease-out 0s 1 slideInFromAbove;
    font-size: 100px;
    padding: 10%;
}


h3 {
    font-family: 'Magica';
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(180deg, rgba(113, 97, 239, 1) 0%, rgba(183, 156, 237, 1) 50%, rgba(222, 192, 241, 1) 100%);
    background-attachment: fixed;
    animation: 3s ease-out 0s 1 slideInFromAbove;
}

.container-fluid {
    background-image: url('images/purple_saturn.png');
    background-position: left bottom;
}

.anchored {
    position: absolute;
}


@keyframes slideInFromAbove {
    0% {
        transform: translateY(-30px);
        opacity: 0%;
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

.inputDiv {
    padding: 3%;
}

.cosmicButton {
    font-family: 'Magica';
    font-size: '20px';
    height: 65px;
    width: 220px;
    background-color: blue;
    color: aliceblue;
    transition-duration: 0.5s;
    border: solid 5px;
    border-radius: 15px;
    border-color: aliceblue;
    text-align: center;
}

.cosmicButton:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.containLink:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.containLink {
    transition-duration: 1s;
}

label {
    font-family: 'Magica';
    font-size: 12px;
}

p {
    font-family: 'Magica';
    font-size: 12px;
}


input {
    font-family: 'Magica';
    font-size: px;
    max-width: 450px;
    max-height: 60px;
    border: 3px solid plum;
    border-radius: 5px;
    padding-left: 1%;
    text-align: left;

}

.checklist-title {
    font-size: 15px;
    margin-top: 2.5%;
}

.justify-content-center {
    align-content: center;
    position: sticky;
}

.password-criteria {
    list-style: none;
    text-align: center;
    margin-top: -9.5%;
    padding-left: -20%;
    margin-bottom: 2.5%;
}

.criteria-listed {
    background: transparent;
    background-position: 25% 25%;
}

.criteria-listed::before {
    content: '\f00d';
    font-family: FontAwesome;
    position: relative;
    display: inline-block;
    color: red;
    margin: 8px 12px;
    margin-left: -15px;
}

.show-password {
    position: absolute;
    align-self: center;
    margin: 12px -32px;
    cursor: pointer;
    color: #817B7A;
}

.show-password:hover {
    color: #212529;
}
