@font-face {
    font-family: "Magica";
    src:
        local("Magica"),
        url("fonts/Magica.otf") format("opentype");
}

@font-face {
    font-family: "Kaoly";
    size-adjust: 150%;
    src:
        local("Kaoly"),
        url("fonts/Kaoly.ttf") format("truetype");
}

@media only screen and (max-width: 600px) {

    @font-face {
        font-family: "Kaoly";
        size-adjust: 250vh;
        src:
            local("Kaoly"),
            url("fonts/Kaoly.ttf") format("truetype");
    }


    input {
        font-family: 'Magica';
        font-size: medium;
        max-width: 450px;
        max-height: 60px;
        border: 3px solid plum;
        border-radius: 5px;
    }


    label {
        font-family: 'Magica';
        font-size: 20px;
    }


    .cosmicButton {
        font-family: 'Magica';
        font-size: '12px';
        height: 65px;
        width: 220px;
        background: #957FEF;
        color: #EFD9CE;
        transition-duration: 0.5s;
        border: solid 3px;
        border-radius: 15px;
        border-color: #DEC0F1;
        text-align: center;
    }


    p {
        font-family: 'Magica';
        font-size: 6px;
    }
}

h1 {
    font-family: 'Kaoly';
    animation: 3s ease-out 0s 1 slideInFromAbove;
    padding: 3%;
    color: #EFD9CE;
    background: none;
    text-shadow:
        3px -1px 0 #957FEF, 0 -1px 0 #957FEF, 3px -1px 0 #957FEF, 3px 0 0 #957FEF, 3px 3px 0 #957FEF, 0 3px 0 #957FEF, -1px 3px 0 #957FEF, -1px 0 0 #957FEF;
}


h3 {
    font-family: 'Kaoly';
    animation: 3s ease-out 0s 1 slideInFromAbove;
    padding: 2%;
    color: #EFD9CE;
    background: none;
    text-shadow:
        3px -1px 0 #957FEF, 0 -1px 0 #957FEF, 3px -1px 0 #957FEF, 3px 0 0 #957FEF, 3px 3px 0 #957FEF, 0 3px 0 #957FEF, -1px 3px 0 #957FEF, -1px 0 0 #957FEF;

}

body {
    width: 100%;
    height: 100%;
    background-image: url(resources/purple_saturn.svg), url(resources/Vector.svg), linear-gradient(180deg, rgba(113, 97, 239, 1) 0%, rgba(183, 156, 237, 1) 50%, rgba(222, 192, 241, 1) 100%);
    background-attachment: fixed;
    background-position: bottom left, bottom left;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: 3s ease-out 0s 1 slideInFromAbove;
}

.container-fluid {
    background-image: url('images/purple_saturn.png');
    background-position: left bottom;
}

.anchored {
    position: absolute;
}


@keyframes slideInFromAbove {
    0% {
        transform: translateY(-30px);
        opacity: 0%;
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

.inputDiv {
    padding: 3%;
}

.cosmicButton {
    font-family: 'Magica';
    font-size: '20px';
    height: 65px;
    width: 220px;
    background: #957FEF;
    color: #EFD9CE;
    transition-duration: 0.5s;
    border: solid 3px;
    border-radius: 15px;
    border-color: #DEC0F1;
    text-align: center;
}

.cosmicButton:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.containLink:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.containLink {
    transition-duration: 1s;
}

label {
    font-family: 'Magica';
    font-size: 12px;
    color: #7161EF
}

p {
    font-family: 'Magica';
    font-size: 12px;
}


.loginInput {
    width: 488px;
    height: 63px;
    color: #EFD9CE;
    font-size: 20px;
    background: rgb(239, 217, 206, .2);
}

.loginInput::placeholder {
    color: rgb(239, 217, 206, .7);
}


input {
    font-family: 'Magica';
    font-size: 13px;
    color: #2F1FA5;
    border: 3px solid #7161EF;
    border-radius: 5px;
    padding-left: 1%;
    text-align: left;
    background: rgb(239, 217, 206, .5);
}

.checklist-title {
    font-size: 15px;
}

.justify-content-center {
    align-content: center;
    position: sticky;
}

.justify-content-center2 {
    align-content: center;
    position: sticky;
    margin-top: -7%;
}

.password-criteria {
    font-family: 'Magica';
    font-size: small;
    list-style: none;
    text-align: start;
    padding-left: -20%;
    margin-bottom: 2.5%;
}

.criteria-listed {
    background: transparent;
    background-position: 25% 25%;
}

.criteria-listed::before {
    content: '\f00d';
    font-family: FontAwesome;
    position: relative;
    display: inline-block;
    color: red;
    margin: 8px 12px;
    margin-left: -15px;
}

.show-password {
    position: absolute;
    align-self: center;
    margin: 12px -32px;
    cursor: pointer;
    color: #817B7A;
}

.show-password:hover {
    color: #212529;
}

.searchBar {
    width: 600px;
    height: 42px;
    margin: 2%;
    margin-left: 0%;
    font-family: 'Magica';
    color: #EFD9CE;
    background: rgb(222, 192, 241, .5);
    border-color: #7161EF;
}


.searchButton {
    height: 42px;
    font-family: 'Magica';
    color: #EFD9CE;
    background: rgb(222, 192, 241, .5);
    border: 3px solid #7161EF;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    transition-duration: 2s;
}

.searchButton:hover {
    transform: translateY(-10px);
}

.newContactBtn {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 42px;
    margin-left: 2%;
    font-family: 'Magica';
    color: #EFD9CE;
    background: rgb(222, 192, 241, .5);
    border: 3px solid #7161EF;
    border-radius: 5px;
    transition-duration: 2s;
}

.newContactBtn:hover {
    transform: translateY(-10px);
}

.deleteButton {
    background: #E86868;
    border: none;
    border-radius: 6px;
    color: #EFD9CE;
    font-family: 'Magica';
    font-size: 12px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 2%;
}

.editButton {
    background: #957FEF;
    border: none;
    border-radius: 6px;
    color: #EFD9CE;
    font-family: 'Magica';
    font-size: 12px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 2%;
}

.saveButton {
    background: #5DD78E;
    border: none;
    border-radius: 6px;
    color: #EFD9CE;
    font-family: 'Magica';
    font-size: 12px;
    margin: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.table,
tbody {
    width: 100%;
    font-family: 'Magica';
    color: #EFD9CE;
    border: 50px, solid;
    border-color: #7161EF;
}

th,
td {
    border: 10px, solid;
    border-radius: 3px;
    border-color: #7161EF;
}

thead {
    background: #7161EF;
    border-radius: 3px;
    border-color: #7161EF;
}

tbody {
    background: rgb(183, 156, 237, .50);
    color: #EFD9CE;
    border: 50px, solid;
    border-color: #7161EF;
    overflow: scroll;

}

#headerIndex {
    width: 866px;
    height: 381px;
}

.menuButton {
    color: #EFD9CE;
    background: none;
    border: none;
    font-size: 30px;
    font-family: 'Magica';
    text-shadow:
        3px -1px 0 #957FEF, 0 -1px 0 #957FEF, 3px -1px 0 #957FEF, 3px 0 0 #957FEF, 3px 3px 0 #957FEF, 0 3px 0 #957FEF, -1px 3px 0 #957FEF, -1px 0 0 #957FEF;
    margin: 3%;
}

.menu_bar {
    background: rgb(183, 156, 237, .5);
}

#contactBody {
    max-height: 754px;
    overflow: scroll;
}

.indexButton {
    color: #EFD9CE;
    background: none;
    border: none;
    font-family: 'Magica';
    font-size: 30px;
    text-shadow:
        3px -1px 0 #957FEF, 0 -1px 0 #957FEF, 3px -1px 0 #957FEF, 3px 0 0 #957FEF, 3px 3px 0 #957FEF, 0 3px 0 #957FEF, -1px 3px 0 #957FEF, -1px 0 0 #957FEF;

    padding: 2%;
    transition-duration: 2s;
}

.indexButton:hover {
    color: #7161EF;
    text-shadow:
        3px -1px 0 #EFD9CE, 0 -1px 0 #EFD9CE, 3px -1px 0 #EFD9CE, 3px 0 0 #EFD9CE, 3px 3px 0 #EFD9CE, 0 3px 0 #EFD9CE, -1px 3px 0 #EFD9CE, -1px 0 0 #EFD9CE;

    transform: translateY(-10px);
}

.createContactWindow {
    width: 400px;
    height: 200px;
    background: #EFD9CE;
    border: 3px solid #7161EF;
    border-radius: 3px;
}


.dialogFormBar {
    margin: 2%;
    margin-left: 0%;
    font-family: 'Magica';
    font-size: 10px;
    color: #212529;
    border-color: #7161EF;
}


.text-left {
    text-align: left;
    padding-right: 40px;
}

#contactFirstName {
    text-align: left;
}

#contactLastName {
    text-align: left;
}

#contactPhone {
    text-align: left;
}

#contactEmail {
    text-align: left;
}

#contactFirstNameLabel {
    text-align: left;
}

#contactLastNameLabel {
    text-align: left;
}

#contactPhoneLabel {
    text-align: left;
}

#contactEmailLabel {
    text-align: left;
}

.formStyle{
    background: #DEC0F1;
    border: solid 5px #7161EF;
    border-radius: 5px;
    z-index: -1;
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 2%;
}